<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@500&family=Viga&display=swap" rel="stylesheet">
    
    <title>Create your Secret Message</title>
  </head>
  hell
<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a class="navbar-brand" href="#">Secret Message</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link" href="#">About</a>
      </div>
    </div>
  </div>
  </nav>
  <!-- akhir navbar -->

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ubah <span>Pesan Singkat</span> mu, menjadi <span>Rahasia</span> !</h1>
      <a href="" class="btn btn-primary">Load more</a>
    </div>
  </div>
  <!-- akhir jumbotron -->

  <!-- container -->
  <div class="container">
    <!-- information secret_message -->
    <div class="row secretmessage">
      <div class="col">
        <img src="{{ url_for('static',filename='img/lock.jpg') }}" alt="secretmessage" class="img-fluid">
      </div>
      <div class="col">
        <h3><span>Our Service</span></h3>
        <p>Pesan kamu akan diubah menggunakan <span>Shift Cipher</span> dan <span>Columnar</span></p>
      </div>
    </div>
  </div>

  <!-- text fill area -->
  <div class="container">
      <div class="form-group pesan">
        <form action="{{ url_for('encrypt') }}" method="post">
          <textarea class="form-control form-control-lg" id="textfill" name="tex"rows="10" placeholder="Isikan pesanmu disini!"></textarea>
          <h1>Masukkan pesan Anda !</h1> <input name="s">{{s}}</p> 
        <input type="submit">
      </form>
      </div>
      <a href="" class="btn btn-primary">Enkripsi<span class="oi oi-key"></span></a>
      <a href="" class="btn btn-success">Dekripsi</a>
  </div>

  <!-- hasil enkripsi dan dekripsi -->
  <div class="container">
    <div class="form-group pesan hasilshift">
      <h1>Shift Cipher</h1>
      <form>
      <textarea class="form-control form-control-lg" id="textfill" rows="10" placeholder="The secret message - Shift"></textarea>
    </form>
    </div>
    <div class="form-group pesan hasilcolumnar">
      <h1>Columnar</h1>
      <form>
      <textarea class="form-control form-control-lg" id="textfill" rows="10" placeholder="The secret message - Columnar"></textarea>
    </form>
    </div>
  </div>


  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>